:root {
    --green: hsl(157 74% 62%);
    --grey: hsl(225 26% 23%);
    --dark: hsl(224 35% 11%);
    --white: hsl(0 0% 100%);
    --light-grey: hsl(225 21% 45%);
    --lightest: hsl(225 40% 83%);

    --font-body: "Chivo", sans-serif;

    --text-title: 1.625rem;
    --text-body: 0.9375rem;
    --text-btn: 0.875rem;

    --line-title: 1.46;
    --line-body: 1.66;
    --line-btn: 2;

    @media(width >= 40em) {
        --text-title: 3rem;
        --text-body: 1.125rem;

        --line-title: 1.16;
        --line-body: 1.5;
    }

    @media(width >= 64em) {
        --text-title: 3.25rem;

        --line-title: 1.19;
    }

}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--dark);
    font-family: var(--font-body);
    font-weight: 300;
    position: relative;

    img {
        max-width: 100%;
    }

    h1 {
        font-size: var(--text-title);
        line-height: var(--line-title);
        color: var(--green);
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;

        span {
            color: var(--white);
        }
    }

    p {
        font-size: var(--text-body);
        line-height: var(--line-body);
        color: var(--light-grey);
        text-align: center;
        font-weight: 100;
    }

    @media (width >= 40em) {
        h1,
        p {
            text-align: left;
        }

        &::after {
            content: '';
            background: url(../assets/desktop/bg-pattern-dots.svg);
            position: absolute;
            height: 104px;
            width: 232px;
            bottom: 0;
            left: 30px;
        }
    }

    @media (width >= 64em) {
        &::after {
            content: '';
            background: url(../assets/desktop/bg-pattern-dots.svg);
            position: absolute;
            height: 104px;
            width: 232px;
            bottom: 78px;
            left: unset;
            right: 0;
        }
    }
}

.container {
    overflow: hidden;
    position: relative;
    
    /* Pseudo to allow for opacity */
    &::before {
        content: '';
        background: center / cover no-repeat url(../assets/mobile/image-host.jpg);
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        opacity: 0.1;
        z-index: -1;
    }

    @media (width >= 40em) {
        margin-bottom: 257px;

        &::before {
            background: top right / contain no-repeat url(../assets/tablet/image-host.jpg);
            opacity: 0.7;
        }
    }

    @media (width >= 64em) {
        margin-block: 102px 130px;
        padding: 0 165px;

        &::before {
            background: top right / contain no-repeat url(../assets/desktop/image-host.jpg);
            top: 28px;
        }
    }
}

header {
    margin-block: 62px 57px;
    display: grid;
    place-items: center;

    @media (width >= 40em) {
        display: block;
        margin: 50px 39px 152px;
    }

    @media (width >= 64em) {
        display: block;
        margin: 0 0 103px 0;
    }
}

article {
    margin: 0 24px 78px;
    display: grid;
    gap: 16px;

    form {
        order: 10;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-block: 16px;

        input {
            font-size: var(--text-btn);
            font-weight: 700;
            font-family: var(--font-body);
            line-height: var(--line-btn);
            padding: 9px 32px;
            border-radius: 28px;
            border: none;

            &[type="email"] {
                background: var(--grey);
                color: var(--white);
                

                &::placeholder {
                    color: hsla(0, 0%, 100%, 0.5);
                }

                &::focus {
                    background-color: inherit;
                }
            }

            &[type="submit"] {
                background: var(--green);
                color: var(--dark);
                cursor: pointer;
                transition: background 0.5s ease;

                &:hover,
                &:focus {
                    background: #B3FFE2;
                }
            }
        }
        
        .input-error {
            margin-left: 32px;
            font-size: 0.75rem;
            color: #FB3E3E;
            font-weight: 500;
            visibility: hidden;
        }

        input[type="email"]:not(:focus):invalid ~ .input-error {
            visibility: visible;
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 16px;
        list-style-type: none;
        margin-block: 16px;
    }

    @media (width >= 40em) {
        background: var(--dark);
        margin: 0 94px 0 39px;
        padding-top: 93px;
        gap: 31px;

        form,
        p {
            max-width: 445px;
        }

        form {
            --btn-width: 162px;

            order: unset;
            display: grid;
            grid-template-columns: 1fr var(--btn-width);
            padding-right: 18px;

            input[type="email"] {
                grid-row: 1;
                grid-column: 1/ span 2;
                padding-right: var(--btn-width);
                padding-block: 14px;
            }

            input[type="submit"] {
                grid-row: 1;
                grid-column: 2;
                margin: 5px;
                padding: 0;
            }
        }

        p {
            color: var(--lightest);
        }

        ul {
            gap: 40px;
            margin: 0;
        }
    }

    @media (width >= 64em) {
        max-width: 723px;
        margin: 0;
    }
}









@media (40em < width < 64em) {
    .attribution {
        text-align: right !important;
        margin-right: 39px;
    }
}